@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* Navbar CSS */
.navbar {
  z-index: 1000; /* Adjust as needed */
  position: fixed; /* If not already set */
  top: 0;
  left: 10px;
  right: 0;
  background-color: ghostwhite;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.menu-bars {
  margin-left: 2rem;
  font-size: 1.6rem;
  background: none;
  color: #000;
}

.nav-menu {
  background-color: ghostwhite;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #000000;
  color: ghostwhite;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: ghostwhite;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.contentContainer {
  margin-top: 85px;  /* Pushes content below the navbar */

}


/* global elements styles */

h1 {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: Impact, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}

h2 {
  font-size: 15px;
  margin-bottom: 25px;
  font-family: Chalkduster, sans-serif;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 1000; /* same as the form */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.bottomMargin {
  font-family: Marker Felt, sans-serif;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background-color: black !important;
  color: white; /* Set text color */
  display: flex; /* Use flexbox for alignment */
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Vertically center items */
  padding-right: 20px; /* Add some padding to the right */
}

